<a href="@($"/stamp-palettes/{StampPalette.Id}")">

    <div class="flex flex-col gap-y-3 border-default-secondary border-1 rounded-xl p-3
                hover:bg-default-secondary hover:cursor-pointer">

        @if (string.IsNullOrWhiteSpace(StampPalette.Name))
        {
            <p class="tx-body text-default-tertiary">
                名称なし
            </p>
        }
        else
        {
            <p class="tx-button">
                @StampPalette.Name
            </p>
        }

        <div class="flex flex-row flex-wrap gap-1 md:min-h-[52px]">
            @foreach (var s in StampPalette.StampSamples)
            {
                <TraqStampImg StampId="@s" />
            }
            @if (StampPalette.StampCount > StampPalette.StampSamples.Length)
            {
                <span class="tx-body2 font-semibold text-default-secondary">
                    +@(StampPalette.StampCount - StampPalette.StampSamples.Length)
                </span>
            }
        </div>

        @if (DisplaysCreator)
        {
            <div class="flex flex-row flex-nowrap gap-x-2 items-center">
                <span class="rounded-full overflow-hidden leading-6">
                    <TraqUserIcon TraqApiBaseUri="https://q.trap.jp/api/v3/"
                                  Username="@StampPalette.Creator.Name"
                                  Width="24"
                                  Height="24" />
                </span>
                <p class="text-default-secondary truncate">
                    @(StampPalette.Creator.Name)
                </p>
            </div>
        }

    </div>

</a>

@code {
    [Parameter]
    public bool DisplaysCreator { get; set; } = true;

    [Parameter]
    [EditorRequired]
    public required Api.StampPaletteApi.GetStampPaletteListResult.StampPaletteAbstraction StampPalette { get; set; }
}
